<section class="new-task-view">
  <!-- <section class="new-header">
    <h1>Edit Task</h1>
  </section> -->
  <section class="new_form">
  <%= render partial: "form", locals: { page_title: "Edit Task" } %>
  </section>
</section>
