<section class="editz">

  <section class="sidebar">
    <nav>
      <ul>
        <li>
          <a><%= link_to "Add Task", new_task_path %></a>
        </li>
        <li>
          <a><%= link_to "All Tasks", all_tasks_path %></a>
        </li>
        <li>
          <a><%= link_to "Home", tasks_path %></a>
        </li>
      </ul>
    </nav>
  </section>

  <section class="formz">
    <%= render partial: "form", locals: {page_title: "ðŸ¦ Edit a Task! ðŸ¦"} %>

</section>
</section>
