<section class="header">
<h1>Welcome to your personal Task Team!</h1>

<h3>Below is a list of tasks for you.</h3>
</section>
<strong>Home list:</strong>

  <ul>
    <% @home_list.each do |task| %>
    <li>
      <input type="checkbox">
      <%=task%>
    </li>
    <% end %>
  </ul>
