
<h2>Welcome to Brenda's Tasks list! </h2>

<p>She has to do this during this week:</p>

<ul>
  <%  @tasks.each do |task| %>
  <li>
    <%= "#{task[:name]}: #{task[:description]} on #{task[:completion_date]}" %>
  </li>
  <%end %>
</ul>
