<h1>Tasks Index</h1>
<ul>
<% @tasks.each do |task| %>
  <li>
    <span class="entry">
      <%= link_to task[:title], task_path(task[:id]), class: 'teal-font' %>
    </span>
    due by <%= task[:due] %>
    status <%= task[:status] %>
  </li>
<% end %>
<ul>
