<h3>You have a lot to do today!</h3>

<ul>
  <% @tasks.each do |index| %>
    <li>
      <%= index[:name] %>
      requires you to <%= index[:description] %>
      due on <%= index[:completion_date] %>
    </li>
  <% end %>
</ul>
