<h1>Lovely Luxi's Tasks</h1>

<p>Find me in app/views/tasks/index.html.erb</p>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" />
      When to <%= task[:to_do] %>?
      <strong><%= task[:when] %></strong>
    </li>
  <% end %>
</ul>
