<h2>Tasks List</h2>
<ol>
  <% @tasks.each do |task| %>
  <li>
    <span class="description">
      <%=  link_to task[:description], task_path(task[:id]), class: 'description-link' %>
    </span>
  </li>
  <% end %>
</ol>
