
<h2>Task List</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
    <span class="task_name">
      <%= link_to task.name, index_path(task[:id]) %>
    </span>
    due by <%= task.completion_date %>
  </li>
  <% end %>
</ul>
