<h2> Birthday Party Action Items </h2>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <span class="name">
      <%=link_to "Task: #{task.name} ", task_path(task.id) %>
    </span>
    <p> </p>

      <span class="description">
        <%= "- #{task.description}  (#{task.owner})" %>
      </span>
    </p>
  </li>
  <% end%>
</ul>
