<h2>Task List</h2>
<ul>
  <% @task.each do |task| %>
  <li class="list">
    <a> <%= link_to task.task_name, task_path(task.id) %> </a>
    <ul class="task-options">
      <li>
        <%= link_to "Mark Complete", edit_task_path(task.id)%>
      </li>
      <li>
        <%= link_to "Edit", edit_task_path(task.id)%>
      </li>
      <li>
        <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete the task?' }%>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
