

<main class=main>
  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task) %>
      Status: <span class=status><%= task.status %></span>
      <strong>|</strong>
      Due Date: <span class=due_date> <%= task.due_date %> </span>
      <%= link_to "Edit", edit_task_path(task) %>
    </li>
    <% end %>
  </ol>
</main>
