

<p>This is your task list for the next weeks:</p>

<ul>
  <%  @tasks.each do |task| %>
  <li>
    <strong><%= "#{task[:name]}"%></strong>

  </li>

  <%= link_to("See Details", task_path(task)) %>
  <%= link_to("Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want
    to delete Task: #{task.name}?"}) %>

  <%end%>
</ul>

<%= link_to("Add a New Task", new_task_path, class: "important") %>
