<h1>Task List</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    Task #<%= task[:id] %> --
    <span class="title">
      <%= link_to task[:title], task_path(task[:id]) %>
    </span>
  </li><br />
  <% end %>
</ul>
