

<p>This is your task list for the next weeks:</p>

<ul>
  <%  @tasks.each do |task| %>
  <li>
    <strong><%= "#{task[:name]}"%></strong>

  </li>

  <%= link_to("See Details", task_path(task)) %>

  <%end%>
</ul>

<%= link_to("Add a New Task", new_task_path, class: "important") %>
