<h2>Daily To-Do</h2>

<ul class="task-list">
    <% @tasks.each do |task| %>
      <li>
        <input type="checkbox">
        <strong><%= link_to(task.name, task_path(task)) %></strong>
        <br />
        <em><%= task.description %></em>
      </li>
    <% end %>
</ul>
