<h1>Daily Tasks</h1>

<p> Hello! Lets review what we should get done today:</p>

<ol><% @tasks.each do |task| %>
  <li>
    <!-- TODO: PUT A LINK TO SHOW AND EDIT IN HERE -->
    <%= "Morning Task: #{task.name}" %>
    <%= link_to 'Show Details', task_path(task) %>
    <%= link_to 'Edit Task', edit_task_path(task) %>
  </li>
  <% end %>
</ol>
