<h2>Tasks List</h2>
<ol>
  <% @tasks.each do |task| %>
  <li>
    <span class="name">
      <%=  link_to task.name, task_path(task.id), class: 'name-link' %>
    </span>
     due by <%= task.completion_date %>
  </li>
  <% end %>
</ol>
