<section class="index">
  <h1>Tasklist Application</h1>

  <strong><h2>Tasks</h2></strong></p>

  <ol class="tasks">
    <% @tasks.each do |task| %>
    <li>
      <strong> <%=link_to task.name, task_path(task) %></strong>


      <%=link_to 'Edit', edit_task_path(task)%>

      <%=link_to('Delete', task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete Task #{task.name}?"})%>
    </li>

  <% end %>
  </ol>
</section>
