<h1>Lovely Luxi's Tasks</h1>

<p>Find me in app/views/tasks/index.html.erb</p>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" />
      <em><%= task.date.strftime("%a, %B %-m, %Y") %></em>,
      <strong><%= task.time %></strong>:
      <%= task.to_do %>
    </li>
  <% end %>
</ul>
