<h1>
  Your Tasks&nbsp;<i class="fa fa-check-square-o"></i>
</h1>

<ol>
<% @tasks.each do |task| %>
  <li>
  <strong>
    <%= link_to(task.name.capitalize, task_path(task), class:"task-list-link") %>
  </strong>
  <em>
    (by <%= task.complete_by %> )
  </em>
  <br>
  <p> Mark Complete | </p>
  <p>
    <%= link_to("Edit |", edit_task_path(task.id)) %>
  </p>
  <p>
    <%= link_to("Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }) %>
  </p>
  <hr>
  </li>
<% end %>
</ol>
