<h2>Task List</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
    <span class="short_desc">
      <%= link_to task[:short_desc], index_path(task[:id]) %>
    </span>
    by <%= task[:due_date] %>
  </li>
  <% end %>
</ul>
