<h1>
  Your Tasks&nbsp;<i class="fa fa-check-square-o"></i>
</h1>

<ol>
<% @tasks.each do |task| %>
  <li>
  <strong>
    <%= task.name.capitalize %>
  </strong>
  - <%= task.description %>
  <br>
  <em>
    Complete by <%= task.complete_by %>
  </em>
  <hr>
  </li>
<% end %>
</ol>
