<h1>Check out Your Todos!</h1>
<ol>
  <% @tasks.each do |task|%>
  <li>
    <%=link_to("#{task[:todo]}",show_tasks_path(task)) %><%=link_to("Edit",edit_tasks_path(task))%>
  </li>

  <%end%>
</ol>

<%= link_to("Add New Todo", new_tasks_path) %>
