<h1>Task List</h2>
<section class="task-summary">
  <h2 class="list-title">Your Tasks</h2>
  <ol>
    <% @tasks.each do |task| %>
    <li class="task">
      <span class="title">
        <%= link_to task.name, task_path(task.id) %>
      </span><br />
      <span class="task-options">
        <div class="option">
            <%= link_to "Edit", edit_task_path(task.id) %>
        </div>
        <div class="option">
            <%= link_to "Delete", task_path(task.id), method: :delete %>
        </div>
        <div class="option">
            <%= link_to "Mark as Completed", task_path(task.id), method: :edit %>
        </div>
      </span>
    </li>
    <%end%>
  </ol>
</section>

<!-- <div class="add-task-button">
  <h5>Add Task<h5>
</div> -->
