<h2>Tasks List</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
      <span class="title">
        <%= link_to task[:title], task_path(task[:id]), class: 'title-link' %>
      </span>
  </li>
<% end %>
</ul>
