<h1>Lovely Luxi's Tasks</h1>

<p>How to take care of your two kitties: Mambo and Tango</p>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" />
      <em><%= task.date.strftime("%a, %B %-m, %Y") %></em>,
      <strong><%= task.time %></strong>:
      <%= link_to(task.to_do, task_path(task)) %>
    </li>
  <% end %>
</ul>
