<p class="header">
  TaskList
</p>
</div>
<ul class="tasks-list-list">
<% @tasks.each do |task| %>
  <li>
    <ul class="tasks-list-task">
      <li class="task-name"><%= link_to task.name, task_path(task.id) %></li>
      <li class="task-list-property task-status">Status: <%= task.status %></li>
      <li class="task-list-property task-due">Due: <%= task.due %></li>
    </ul>
  </li>
<% end %>
<ul>
