<h2>Welcome to Kiera's Tasklist</h2>

<p>We will make sure you have the tools to get things done.</p>

<ul class="tasks">
  <% @tasks.each do |task| %>
  <li>
    <p> <%= task.name %> start date: <%=task.start_date %> </p>
    <p> <%= task.description %> </p>
  </li>
  <% end %>
</ul>
