<h2>TASKLIST</h2>

<ul>
  <li>Add Task
  </li>

  <li>All Tasks
  </li>
</ul>

<h3>WENJIE'S TASKS</h3>
<ol>
<% @tasks.each do |task| %>
<li> Task: <%= task.name %> <strong>|</strong> Due Date: <span class=due_date> <%= task.due_date %> </span>
</li>
<% end %>
</ol>
