<h1>All Tasks</h1>

<ul id="all-tasks">
  <% @tasks.each do |task| %>
    <li>
      
      <% if task.task_complete == false %>
        <%= link_to task.name, task_path(task.id), class: "incomplete" %>
      <% else %>
        <%= link_to task.name, task_path(task.id), class: "complete" %>
      <% end %>

    </li>
    <li id="description">
      <%= task.description %>
    </li>
    <li>
      <input type="button" name="Complete?" value="Complete?" class="book-button" />
    </li>
  <% end %>
</ul>
