<div class="all-tasks-list">
  <h2>Tasks List</h2>
    <% @tasks.each do |task| %>
    <p>
      <span class="title"><%= link_to task.title, task_path(task.id), class: "task-list" %></span>
    </p>
    <ul class="actions">
      <li><a href="#">Placeholder</a></li>
      <li><%= link_to "Edit", edit_task_path %></li>
      <li><%= link_to "Delete", task_path(task.id), method: :delete %></li>
    </ul>
    <% end %>
</div>
