<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Task List</h2>
    <ul>
      <%@tasks.each do |task| %>
      <li>
        <%= link_to task[:task_type].upcase, task_path(task[:id]) %>
         by
        <span class="title">
    <%= task[:done_by] %>
    </span>
      </li>
      <%end%>
    </ul>
  </body>
</html>
