<h1>Task List</h1>

<main>
  <ol class="task-list">
    <% @tasks.each do |task| %>
    <li>
      <span class="heading"><%= link_to task.name, task_path(task.id) %>
      <span class="status"> <%= task.status %> 
    </li>
    <% end %>
  </ol>
</main>
