
<ol>
<% @tasks.each do |task| %>
  <li>
  <strong>
    <%= task.name.capitalize %>
  </strong>
  - <%= task.description %>
  <em>
    Complete by <%= task.complete_by %>
  </em>
  </li>
<% end %>
</ol>
