<h3>Below is a list of tasks for you:</h3>

  <ul>
    <% @tasks.each do |task| %>
    <li>
      <input type="checkbox">
      <%= link_to( task.name, task_path(task))%>:
      Task: <%= task.details %> --
      Due by: <%= task.complete %>
      <button>
        <%= link_to("Edit", edit_task_path(task)) %>
      </button>
    </li>
    <% end %>
  </ul>
