<h2> Taco Tuesday Task List!</h2>

<ul>
<% @tasks.each do |task| %>
  <li>
    <strong><%= link_to(task.name, task_path(task)) %></strong>
    (Do by: <%= task.due_date %>)


  </li>
<% end %>
</ul>

<%= link_to("Add a New Task", new_task_path()) %>
