<h1>All Tasks</h1>

<ul id="all-tasks">
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task.id)%>
    </li>
    <li id="description">
      <%= task.description %>
    </li>
    <li>
      <%= task.task_complete %>
    </li>
    <li>
      <%= button_to "Complete?", task_path(task.id), method: :patch %>
    </li>
  <% end %>
</ul>
