
<section class="tasks-list">
<h2>YOUR TASKS</h2>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <strong><%= task[:id] %>.</strong>
      <%= link_to task.name, task_path(task[:id], class:'title-link') %>
  </li>
  <% end %>
</ul>
</section>
