<h2>Create a New Task</h2>
<form action="/tasks" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="name">Name of Task:</label>
  <input name="name" id="name" type="text"  /><br />
  <label for="description">Description:</label>
  <input name="description" id="description" type="text"  /><br />
  <input name="submit" value="Create Task" type="submit"  />
</form>
