<h2>Task Description</h2>
<p>Task name: <%= @task.name %></p>
<p>Description: <%= @task.description %></p>
<p>Deadline: <%= format_date(@task.deadline) %></p>
<p>Date complete: <%= format_date(@task.completion_date) %></p>
