<h2>Task: <%= @task[:name] %></h2>
<p> <strong>Details:</strong> <%= @task[:description] %></p>
<p> <strong>Due Date </strong><%= @task[:duedate] %></p>
<p> <strong>Complete </strong><%= @task[:complete] %></p>
