<span>
  <%= @task.id %>
</span>
<span>
  <%= @task.description %>
</span>

<ul>
  <li>
    <%= link_to "Edit", edit_task_path %>
  </li>
  <li>
    <%= link_to "Delete", task_path(@task.id), method: :delete %>
  </li>
</ul>
