<section class="show">
<h2><%= @task.name %></h2>

<h3>Details: </h3>
<%= @task.description %>

<p>
<ul>
  <li>
    <%= link_to "EDIT", edit_task_path %>
  </li>
  <li>
    <%= link_to "DELETE", task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
</p>
</section>
