<h1><%= @task[:title] %></h1>

<main>
  <div>
    <span class="title">Status:</span>
    <%= @task[:status] %>
  </div>
  <div>
    <span class="title">Description:</span> <br/>
    <%= @task[:description] %>
  </div>

</main>
