<h2>Summary of Task <%= @task.id %></h2>

<ul>
  <li>
    Name: <%= @task.name %>
  </li>
  <li>
    Details: <%= @task.description %>
  </li>
  <li>
    Deadline: <%= @task.complete_by %>
  </li>
</ul>
