<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show</title>
  </head>
  <body>
    <section class="task">
      <h2><%= @task.name.upcase %></h2>
      <p>
        Due by - <%= @task.completion_date %>
      </p>
    </section>
  </body>
</html>
