<h2> <%= @task.name %> <h2>
  <ul>
    <li>
      <p> <%= @task.description %> </p>
    </li>
    <li>
      <p>
        Priority:
        <%= @task.priority %>
      </p>
    <% if @task.completion != nil %>
    <li>
      Completed on:
      <%= @task.completion %>
    </li>
      <% end %>
    </ul>
