<h2>Mambo and Tango's Guide to Happy Cats </h2>
<p>
  Task: <%= @task[:to_do] %>
</p>
<p>
  Date: <%= @task[:date] %>
</p>
<p>
  When: <%= @task[:time] %>
</p>
<p>
  Instructions: <%= @task[:instructions] %>
</p>
