<%= form_for @task do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>

<% end%>

<!-- <p>Please select your preferred book type:</p>
<div>
  <input type="radio"
   name="contact" value="Paper">
  <label for="contactChoice1">Paper</label>

  <input type="radio" id="contactChoice2"
   name="contact" value="Audio">
  <label for="contactChoice2">Audio</label>

  <input type="radio" id="contactChoice3"
   name="contact" value="PDF">
  <label for="contactChoice3">PDF</label>
</div> -->
