.all-tasks-list {
  background-color: #caebf2;
  padding: 10px 30px;
  border-radius: 10px;
}

.all-tasks-list p {
  padding-top: 5%;
  text-align: center;
}

.all-tasks-list p:last-child {
  padding-bottom: 5%;
}

.all-tasks-list a {
  color: #7f1d1f;
}
