.all-tasks-list {
  background-color: #caebf2;
  padding: 10px 30px;
  border-radius: 10px;
}

.all-tasks-list p {
  padding: 3% 0;
}

.all-tasks-list a {
  color: #7f1d1f;
}

.actions {
  display: flex;
  margin: 0 auto;
}

.actions a {
  font-size: 1.2rem;
}
