h2.task-title{
  text-decoration: underline;
}

.task-actions a {
  padding: 10px;
  background-color: #7f1d1f;
  border-radius: 10px;
}

.task-actions p {
  padding: 2% 0;
}

.task-description {
  padding: 5% 2%;
  font-size: 1.5rem;
}
