/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS MAP */

 /* - -- - -- BASELINE - -- -- -  */
 /* - -- - -- INDEX - -- -- -  */
 /* - -- - -- ALL - -- -- -  */
 /* - -- - -- NEW - -- -- -  */
 /* - -- - -- SHOW - -- -- -  */
 /* - -- - -- EDIT - -- -- -  */




/* - -- - -- BASELINE - -- -- -  */
h1 {
  font-family: sans-serif;
  text-align: center;
}

span.title {
  font-weight: bold;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: pink;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: 15px;
  letter-spacing: .1em;
}

ul {
  list-style-type: none;
  line-height: 2em;
  font-family: sans-serif;
}

nav ul {
  text-align: left;
  background-color: #F2B7AE;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 15px;

}

a {
  color: black;
}

/* - -- - -- INDEX - -- -- -  */
.homepage {
  display: flex;
  flex-flow: row;
}

.sidebar {
  width: 25%;
  min-width: 140px;
}

.priority {
  border: dotted 1em red;
  text-align: center;
  margin-left: 1em;
  width: 75%;
  margin-top: 1em;
}

.list {
  background-color: #F9DDD6;
  border-radius: 15px;
  margin-right: 3em;
  margin-bottom: 1em;
  min-width: 12em;
  padding-left: 1em;
  padding-right: 1em;
}

.chore {
  font-size: 2em;
  font-weight: 400;
  padding-top: 10px;
}

/* - -- - -- ALL - -- -- -  */
.all_page{
  display: flex;
  flex-direction: row;
}

.priorities {
  text-align: center;
  margin-left: 1em;
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.priorities article {
  border: dotted 1em red;
  width: 40%;
  margin-bottom: 2em;
  min-width: 20em;
}

.priorities article:nth-of-type(2) {
  border: dotted 1em green;
}

.priorities article:nth-of-type(3) {
  border: dotted 1em purple;
}

.priorities article:last-of-type {
  border: dotted 1em gray;
}

.priorities h1 {
  color: #B73838;
  font-size: 1.5em;
}

/* - -- - -- NEW - -- -- -  */
.newz {
  display: flex;
  flex-direction: row;
}

.form {
  border: dotted 1em #AED3F2;
  text-align: center;
  margin-left: 1em;
  width: 75%;
  margin-top: 1em;
}

.form a {
  font-style: italic;
}


/* - -- - -- SHOW - -- -- -  */
.details {
  display: flex;
  flex-direction: row;
}

.item {
  border: dotted 1em #F2DAAE;
  text-align: center;
  margin-left: 1em;
  width: 75%;
  margin-top: 1em;
}

/* - -- - -- EDIT - -- -- -  */
.editz {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formz {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  border: dotted #C9E3E3 1em;
  width: 75%;
  margin-left: 1em;
  text-align: center;
}

.formz a {
  font-style: italic;
}

/* * {
  border: black .2px solid;
} */
