body {
   font-family: Arial;
   background-color: lightblue;
 }
 h1 {
   text-align: center;
 }

 .logo {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 .big_box {
   color: purple;
   line-height: 25pt;
   font-size: 14pt;
 }

 .box .text {
   align-items: left;
   color: red;
 }

 .link {
   text-decoration: none;
   padding-right: 12pt;

 }

.link-complete {
   text-decoration: none;
   padding-right: 12pt;
   text-decoration: line-through;
 }

 .link:visited {
   color: black;

 }

 .link:unvisited {
   color: black;
 }
 .main_page > .tasklist .completed{
  text-decoration: line-through;
}

.main_page >.tasklist .incomplete{
  text-decoration: none;
}
