// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task-summary {
  border: 1px solid black;
  border-radius: 15px;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.task-options {
  display: flex;
  font-size: .5em;
}

.option {
  margin-right: 30px;
  font-style: oblique;
}

.task {
  margin-bottom: 20px;
}

ol {
  font-size: 1.5em;
  margin-left: 75px;
  line-height: 2.0;
}

a {
  text-decoration: none;
  color: black;
}

.show-footer {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-top: 100px;
}

.show-footer > li {
  margin-right: 60px;
}

.task-details {
  display: flex;
}

.new_task {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input[type="text"] {
  line-height: 30px;
  margin-bottom: 30px;
}

input[type="submit"] {
    margin-top: 30px;
    background: #8C8C69;
    border: black 2px solid;
    padding: 20px;
    text-transform: uppercase;
}

.description {
  border: 1px solid black;
  width: 500px;
  padding-left: 30px;
  padding-bottom: 30px;
}
