ol {
  display: flex;
  flex-direction: column;
}
ol > li {
  background: linear-gradient(white, rgb(224, 116, 191));
  font-size: 1.5em;
  padding: 10px;
}

li > strong {
  font-weight: bold;
}

.due_date, .status {
  color: teal;
}
