<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Oswald" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Welcome to your personal Task Team!</h1>
    </header>
    </main>
      <%= yield %>
    </main>
    <footer>
      &copy; Ada Developers Academy, 2018
    </footer>
  </body>
</html>
