<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><h1>ToDo List</h1></li>
          <div class="content-underline"></div>
          <li>Add Task</li>
          <li>All Tasks</li>
        </ul>
      </nav>
    </header>

    <main id="list">
      <%= yield %>
    </main>

    <footer>
      <p>&copy; ToDo-Loo, 2018</p>
    </footer>
  </body>
</html>
